body{
    margin: 0;
    padding: 0;
}


/* div 1 */
body .contact-page .grey-bg{
    background-image: url("https://uploads-ssl.webflow.com/5e58c8dd1c2c937dfad1ea50/5e7f0cb35836db509cb5d284_contact%20bg.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #e9e9e9;
    padding-bottom: 0.4%;
    margin-bottom: 5.5%;
}
body .contact-page .grey-bg .nav-tab{
    text-align: right;
}
body .contact-page .grey-bg .nav-tab a{
    font-size: 12px;
    text-decoration: none;
    color: #6b6b6b;
    letter-spacing: 2px;
    font-family: Arial,sans-serif;
    padding: 2% 0 0 1.6%;
}
body .contact-page .grey-bg .nav-tab img{
    width: 4.9%;
    vertical-align: -45px;
    padding: 0 3% 0 2%;
}
body .contact-page .grey-bg .form {
    background-color: #f22855;
    width: 25.5%;
    float: right;
    margin: 5.5% 10.1% 0 0;
    padding: 1.6%;
}
body .contact-page .grey-bg .form label {
    color: #333;
    letter-spacing: 1px;
    font-family: 'Work Sans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3%;
}
body .contact-page .grey-bg .form button {
    background-color: black;
    color: white;
    padding: 9px;
}
body .contact-page .grey-bg .form .label {
    padding-bottom: 4.5px
}
body .contact-page .grey-bg .form .input{
    padding-bottom: 10px
}
body .contact-page .grey-bg .form input{
    border: none;
    width: 388px;
    height: 39px;
    padding-left: 12px;
}
body .contact-page .grey-bg .form .message{
    height: 50px;
}
body .contact-page .grey-bg .contact-details{
    width: 42%;
    margin: 27.5% 0 0 13%;
}
body .contact-page .grey-bg .contact-details .drop {
    color: #f22855;
    font-family: 'Miriam Libre',sans-serif;
    font-size: 31px;
    letter-spacing: 1px;
    line-height: 127%;
}
body .contact-page .grey-bg .contact-details .text{
    font-size: 16px;
    color: #6b6b6b;
    line-height: 29px;
    font-family: 'Work Sans',sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5%;
}
body .contact-page .grey-bg .contact-details b {
    font-family: 'Miriam Libre',sans-serif;
    font-size: 18px;
}
body .contact-page .grey-bg .contact-details .info {
    line-height: 44px;
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-family: 'Work Sans',sans-serif;
    margin-top: 2%;
}
body .contact-page .grey-bg .contact-details .info img{
    width: 28px;
    vertical-align: -8px;
    padding-right: 4%;
}


/* div 2 */
body .contact-page .feedback{
    width: 50%;
    margin: auto;
}
body .contact-page .reviews{
    text-align: center;
}
body .contact-page .feedback .reviews img{
    width: 14%;
}
body .contact-page .feedback .review-text{
    font-family: 'Work Sans',sans-serif;
    color: #6b6b6b;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    margin: 7% 0 3.5% 0;
}
body .contact-page .feedback .author{
    font-family: 'Work Sans',sans-serif;
    color: #6b6b6b;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    margin-bottom: 22.5%;
}
body .contact-page .feedback .author img{
    vertical-align: -5px;
}


/* div 3 */
body .contact-page table{
    width: 79%;
    margin: auto;
}
body .contact-page table .row1{
    font-family: 'Miriam Libre',sans-serif;
    color: #000;
    font-size: 43px;
    line-height: 48px;
    width: 25%;
}
body .contact-page table .row2 img{
    width: 96%;
}
body .contact-page table .row3{
    width: 50%;
}
body .contact-page table .row3 .title{
    font-family: 'Miriam Libre',sans-serif;
    font-size: 18px;
    line-height: 28px;
}
body .contact-page table .row3 .content p{
    letter-spacing: .5px;
    font-family: 'Work Sans',sans-serif;
    color: #b4b4b4;
    font-size: 14px;
    line-height: 24px;
}


/* div 4 */
body .contact-page .footer-nav{
    font-family: 'Work Sans',sans-serif;
    text-align: center;
    margin: 10% 0 11% 0;
}
body .contact-page .footer-nav .line2{
    margin-top: 1.4%;
}
body .contact-page .footer-nav a{
    text-decoration: none;
    color: #b4b4b4;
    font-size: 14px;
    font-family: 'Work Sans',sans-serif;
    margin: 1%;
}


/* div 5 */
body .contact-page .copyright{
    text-align: center;
    color: #b4b4b4;
    font-family: 'Work Sans',sans-serif;
    font-size: 10px;
    margin-bottom: 5px;
}